/****************** CORE CSS (BEGIN) *********************/

@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("SourceSansPro"), url("/fonts/SourceSansPro/SourceSansPro-Regular.woff2") format("woff2"), url("/fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff");
}

:root {
  --focus-color: rgb(206, 132, 0);
  --focus-border: 2pt dashed;
  --ebt-sc-sans-font: "Skolar Sans PE", "Noto Sans", sans-serif;
  --ebt-sc-serif-font: "Skolar PE", "Noto Serif", "Skolar Sans PE", "Noto Sans", serif;
}
div.v-theme--light {
  --v-high-emphasis-opacity: 1;
}
div.v-theme--dark {
  --v-high-emphasis-opacity: 1;
}
.v-btn:hover {
  color: rgb(var(--v-theme-link));
}
.v-btn:focus-within {
  border: var(--focus-border) var(--focus-color);
  border-radius: 8pt;
  color: rgb(var(--v-theme-link));
}
.v-btn--icon:focus-within {
  border: var(--focus-border) var(--focus-color);
  border-radius: 8pt;
}
.v-expansion-panel {
  border: 2pt dashed rgb(0,0,0,0);
}
.v-expansion-panel-title:focus {
  border: 2pt dashed var(--focus-color);
  border-radius: 0.5em;
}
.v-input:focus-within {
  outline: 2pt dashed var(--focus-color);
  outline-offset: 2pt;
}
a {
  color: rgb(var(--v-theme-on-surface));
  text-decoration: none;
  font-weight: 500;
}
.ebt-card:hover a {
  color: rgb(var(--v-theme-link));
}
a:hover {
  color: rgb(var(--v-theme-link));
  text-decoration: underline;
}
a > img:hover {
  border: 2px solid rgb(var(--v-theme-link));
}
a .ebt-thumbnail:hover {
  border: 2px solid rgb(var(--v-theme-link));
}
a:focus {
  color: rgb(var(--v-theme-link));
  outline: 2pt dashed rgba(var(--v-theme-link),0.5);
}
.scv-matched {
  color: rgb(var(--v-theme-matched));
  font-weight: 600;
}
.debug {
  color: aqua;
}
.debug:hover {
  color: red;
}
.ebt-example {
  font-weight: 600;
  color: rgb(var(--v-theme-example));
}
.ebt-example:hover {
  text-decoration: underline;
  cursor: zoom-in;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.ebt-icon-btn {
  margin: 0;
  margin-left:2px;
  margin-right:2px;
  border-radius:5px;
  border: none;
  font-size: 24px ;
  min-height: 1.7em !important;
  min-width: 1.7em !important;
}
.ebt-icon-btn svg {
  bottom: 0em !important;
}
.ebt-icon-btn:focus, 
.ebt-icon-btn:hover {
  outline: 2px solid rgb(var(--v-theme-link));
}
.TBDtheme--dark.ebt-icon-btn:focus-within, 
.TBDtheme--dark.ebt-icon-btn:hover {
  outline: 2px solid var(--ebt-focus-color-dark);
  background-color: var(--ebt-focus-background-color-dark);
}
.TBDtheme--dark.ebt-icon-btn:focus-within svg, 
.TBDtheme--dark.ebt-icon-btn:hover svg{
  color: var(--ebt-focus-color-dark);
  background-color: var(--ebt-focus-background-color-dark);
}

.ebt-wiki {
  padding: 1em;
  padding-bottom: 20em;
  font-size: 107%;
}
.ebt-wiki li {
  margin-left: 1.2em;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
}
.ebt-wiki p {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}
.ebt-wiki h1,h2,h3,h4,h5,h6 {
  padding-top: 0.8em;
  padding-bottom: 0.4em;
}
.ebt-wiki td {
  vertical-align: top;
  padding-right: 0.2em;
  padding-bottom: 0.1em;
}
.ebt-wiki th {
  border-bottom: 1pt solid grey;
}
.ebt-wiki-heading {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.ebt-wiki-heading img {
  height: 150px;
  border-top-left-radius: 0.5em;
}
.ebt-wiki-heading-text {
  margin-left: 1em;
  display: flex;
  flex-flow: column;
}
.ebt-wiki-description {
  padding-top: 0.5em;
}
.ebt-wiki-breadcrumbs {
  font-weight: 500;
}
.ebt-toc {
  margin: 1em;
}
.ebt-toc-item {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-top: 0.6em;
  border-top: 1pt solid gray;
  border-top-left-radius: 0.5em;
}
.ebt-toc-category {
  margin-top: 1em;
  margin-left: -0.8em;
}
.ebt-toc-item-text {
  font-size: .93em;
  margin-top: 0.3em;
  margin-left: 1em;
}
.ebt-toc-detail summary {
  font-size: .93em;
}
.ebt-toc-detail ul {
  font-size: .93em;
  padding-left: 1em;
  font-weight: 400;
}
.ebt-thumbnail {
  height: 4em;
  width: 5em;
  overflow: hidden;
  border-top-left-radius: 0.5em;
}
.ebt-thumbnail img {
  height: 4.5em;
}

blockquote {
  border-left: 3px solid grey;
  padding-left: 0.5em;
}
.footnotes {
  padding-top: 8em;
}
.footnotes-body {
  padding: 1em;
}
.footnotes-title {
  text-decoration: overline;
  opacity: 0.5;
  width: fit-content;
}
.footnotes:focus-within .footnotes-body {
  outline: 2pt dashed rgb(var(--v-theme-link));
}
.footnotes:focus {
  outline: none !important;
  border: none !important;
}
code {
  background-color: rgba(var(--v-theme-on-surface), 0.2);
}
.v-spacer {
  flex-grow: 1;
}
.card-top-anchor {
  font-size: 12px;
  position: relative;
  overflow: hidden;
  border-left: 1pt solid rgb(0,0,0,0);
  width: 1px;
  height: 118px;
  top: 0em;
}
.card-title-anchor {
  position: relative;
}
.card-icon {
  opacity: 0.5;
  margin-right: 0.2em;
}
.ebt-card {
  background: rgb(var(--v-theme-surface)) !important;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
}
.ebt-card-current {
  -webkit-box-shadow:0px 0px 3px 3px rgba(var(--v-theme-focus), 0.5);
  -moz-box-shadow: 0px 0px 3px 3px 1px rgba(var(--v-theme-focus), 0.5);
  box-shadow: 0px 0px 3px 3px rgba(var(--v-theme-focus), 0.5);
}
.ebt-card > .v-card {
  opacity: 0.8 !important;
}
.ebt-card:hover > .v-card {
  opacity: 1 !important;
}
.ebt-card-current > .v-card--variant-flat {
  opacity: 1 !important;
}
.ebt-card {
  margin-right: 1em;
}
.ebt-card-search {
  max-width: 600px;
}
.v-card-text {
  min-width: 20em;
}
.close-item {
  cursor: pointer;
}
.close-item:hover {
  color: rgb(var(--v-theme-link));
}
.card-sheet {
  background: rgba(0,0,0,0);
}
.card-sheet-closed {
  display: none;
}
.last-tab {
  display: flex;
  opacity: 0.0;
  justify-content: center;
  cursor: pointer;
}
.last-tab:focus {
  outline: 1pt solid green;
}

/******************** CORE CSS (END) ********************/

/**************** Search Results (BEGIN)  ***************/

.result-title {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  min-width: 220px;
  max-width: 40em;
  justify-content: space-between;
}
.result-title-main {
  display: flex;
  flex-flow: row nowrap;
  min-width: 210px;
  max-width: 30em;
  justify-content: space-between;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  margin-left: 1rem;
}
.result-subtitle {
  margin-left: 1rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  text-align: right;
  font-size: small;
  font-style: italic;
  width: 270px;
}
.result-title-body {
  margin-right: 10px;
  height: 1.25em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}
.result-title-stats {
}
.result-expansion {
  border-left: 3pt solid rgb(var(--v-theme-expansion));
  margin-top: 2pt;
}
.result-title-number {
  position: absolute;
  font-size: 140%;
  text-align: right;
  top: 0.35em;
  left: 0rem;
  width: 1.3em;
  opacity: 0.4;
}
.result-blurb {
  font-style: italic;
  padding-bottom: 0.2em;
  cursor: pointer;
  margin-left: 1em;
}
.result-quote {
  display: inline-block;
  margin-left: 0.3em;
}
.result-segment {
  margin-left: 1em;
}
.result-scid {
  opacity: 0.5;
  font-size: 80%;
  padding-right: 0.5em;
}
.result:hover .result-scid {
  opacity: 1.0;
}

.result a,
.ebt-card:hover .result a {
  font-weight: 400;
}

.result-sutta:hover .result-title-main {
  text-decoration: underline;
  text-decoration-color: rgb(var(--v-theme-matched));
}

:is(
  .result a,
  .result .scv-matched,
  .ebt-card:hover .result a 
){
  color: rgb(var(--v-theme-on-surface));
}
:is(
  .ebt-card:hover .result:hover .scv-matched,
  .ebt-card:hover .result:hover a 
){
  color: rgb(var(--v-theme-matched));
}

/************** SearchResults (END) *************/

/************** EbtCards (BEGIN) ***************/

.ebt-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 50em;
  padding-bottom: calc(80vw);
}
.ebt-cards1 {
  background-color: rgb(var(--v-theme-surface)) !important;
}
.play-col {
  display: flex;
  flex-flow: column nowrap;
}
.play-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}
.play-row button {
  padding: 0;
  min-width: 48px;
  max-width: 54px;
}
.play-scid {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: var(--ebt-sc-sans-font);
  font-size: larger;
  font-weight: 600;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.progressTime {
  font-weight: 400;
}
.ebt-card-wiki {
  max-width: calc(min(45em,100vw - 10px));
}
.ebt-cards1 .ebt-card-wiki {
  max-width: calc(min(50em,100vw - 10px));
}
/************** EbtCards (END) ***************/

/*
 * Accessible desktop (green)
 */
@media (max-width: 1300px) {
  .ebt-wiki-heading img {
    height: 80px;
  }
  .ebt-wiki-heading-text { 
    /* color: green !important; /* DEBUG */
  }
  .ebt-card-wiki {
    max-width: calc(35vw - 10px);
  }
  .ebt-cards1 .ebt-card-wiki {
    max-width: calc(min(40em,100vw - 10px));
  }
  .ebt-card-search {
    max-width: calc(45vw - 10px);
  }
}

/*
 * Mobile large (yellow)
 */
@media (max-width: 1100px) {
  .ebt-wiki-heading img {
    height: 55px;
  }
  .ebt-wiki-heading-text {
    /* color: yellow !important; /* DEBUG */
  }
  .ebt-card {
    max-width: calc(100vw - 10px);
    margin-right: 2px;
  }
  .ebt-card-search {
    max-width: calc(100vw - 10px);
  }
}

/*
 * Mobile small (red)
 */
@media (max-width: 600px) {
  .ebt-wiki-heading img {
    height: 55px;
  }
  .ebt-wiki-heading-text {
    /* color: red !important; /* DEBUG */
  }
  .v-app-bar-title {
    min-width: calc(50vw);
  }
  .ebt-card {
    max-width: calc(100vw - 10px);
    margin-right: 2px;
  }
}
